footer {
  width: 100%;
  height: 50px;
  background-color: #414141;
  display: flex;
  justify-content: center; }

.footer-cont {
  height: 100%;
  max-width: 940px;
  display: flex;
  flex-flow: row nowrap; }

.conf-wrap {
  display: flex;
  align-items: center;
  flex-grow: 1; }

.conf {
  font-size: 14px;
  font-family: "FiraSL";
  color: #9c9c9c;
  width: 300px;
  height: 14px;
  margin: 0; }

.social {
  display: flex;
  justify-content: center; }

.social-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  list-style: none;
  padding: 0; }

.social-list li {
  width: 38px;
  justify-content: flex-end; }

.facebook-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.vkontakte-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.twitter-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.social-im, .facebook, .vkontakte, .twitter, .facebook:hover, .vkontakte:hover, .twitter:hover {
  background: url(../images/sprites.png) no-repeat; }

.facebook {
  background-position: -209px -11px;
  width: 30px;
  height: 30px; }

.vkontakte {
  background-position: -209px -60px;
  width: 31px;
  height: 30px; }

.twitter {
  background-position: -208px -110px;
  width: 31px;
  height: 30px; }

.facebook:hover {
  background-position: -159px -10px;
  width: 30px;
  height: 30px; }

.vkontakte:hover {
  background-position: -161px -59px;
  width: 31px;
  height: 30px; }

.twitter:hover {
  background-position: -159px -109px;
  width: 31px;
  height: 30px; }
