header
  .header_cont
    div.avatar_box
      img(src="../images/main.jpg" alt="маленькая аватарка").avatar_im
    p.avatar_fio Анастасия Жильцова
    div.contacts
      p.contacts_header Мои контакты
      //- div.contacts_text
      //-   p.contacts_email a.zhiltsova@mail.ru
      //-   p.contacts_phone +7 939 707 12 47
      //-   p.contacts_skype a.zhiltsova
