html {
  font-style: normal;
}
/*p {
  color: blue
}*/
table{
  color: green
}
h1, h2 {
  color: #00008B
}
.colorred{
  color: red
}
#four{
  color: aqua
}
ul.spisok a{
  color: #8A2BE2
}
ul > .strong{
  font-weight: bold;
  color: blue
}
h5~p{
  color: #6495ED
}
[class~=zag7]{
  color: #7FFF00
}
pre:hover{
  color: blue
}
