.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background-color: #f6f6f6; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }

.about-cont {
  max-width: 965px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

@media screen and (max-width: 768px) {
  .about-cont {
    max-width: 690px; } }

.about-main {
  width: 100%;
  flex: 1 0 auto; }

.main {
  width: 76%;
  display: flex;
  flex-flow: row nowrap; }

@media screen and (max-width: 768px) {
  .main {
    width: 95.65%; } }

.wrap-portrait {
  display: flex;
  width: 47%;
  justify-content: flex-start; }

@media screen and (max-width: 768px) {
  .wrap-portrait {
    width: 33.33%; } }

.portrait {
  width: 222px;
  height: 222px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 50%;
  background-color: #f6f6f6;
  overflow: hidden; }

@media screen and (max-width: 768px) {
  .portrait {
    width: 176px;
    height: 176px; } }

.portrait_image {
  width: 224px;
  height: 224px; }

@media screen and (max-width: 768px) {
  .portrait_image {
    width: 176px;
    height: 176px; } }

.info {
  width: 53%;
  display: flex;
  flex-flow: column; }

@media screen and (max-width: 768px) {
  .info {
    width: 66.66%; } }

.info_header {
  font-size: 35px;
  font-family: "FiraSM";
  font-style: normal;
  color: #414141;
  line-height: 1.286;
  text-align: left;
  height: 28px;
  margin-bottom: 30px;
  margin-top: 0px; }

.info_text {
  font-size: 18px;
  font-family: "FiraSL";
  color: #646464;
  line-height: 1.49;
  text-align: left;
  width: 100%;
  height: 278px;
  overflow-y: scroll;
  margin: 0;
  margin-bottom: 68px; }

.info_text::-webkit-scrollbar-track {
  border-radius: 5px; }

.info_text::-webkit-scrollbar {
  width: 5px; }

.info_text::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d8d8d8; }

.main-button {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.main_curric {
  font-size: 14px;
  font-family: "OpenSB";
  color: #e85f61;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  background-color: #f6f6f6;
  border-width: 2px;
  border-color: #e85f61;
  border-style: solid;
  border-radius: 20px;
  padding: 4px;
  padding-right: 10px;
  padding-left: 35px;
  margin-right: 13px; }

.main_curric:hover {
  color: white;
  background-color: #e85f61;
  cursor: pointer; }

.main_curric::before {
  background: url(../images/sprites.png) no-repeat;
  content: " ";
  display: block;
  position: absolute;
  margin-left: -25px;
  margin-top: 6px;
  background-position: -116px -20px;
  width: 16px;
  height: 14px; }

.main_curric:hover::before {
  background: url(../images/sprites.png) no-repeat;
  content: " ";
  display: block;
  position: absolute;
  margin-left: -21px;
  margin-top: 6px;
  background-position: -118px -71px;
  width: 14px;
  height: 14px; }
